<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>
    <h1>Weather App</h1>
    <form action="/add_city" method="post">
        <input type="text" name="city" placeholder="Enter city name" required>
        <button type="submit">Add City</button>
    </form>
    <nav>
        <a href="/weather">View Weather Data</a> | 
        <a href="/plot">View Temperature Plot</a>
    </nav>
</body>
</html>
<br>
Hello, World from master node!!!
<br>

Hello, Reyada!!!
